<div class="d-flex justify-content-end">
  <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm mb-1' %>
</div>
<h2>Edit Post</h2>
<%= form_for @post, url: users_post_path(@post), method: :patch do |f| %>
  <% render partial: "form", locals: { f: f, post: @post } %>
<% end %>